
/* COURSE.CSS - EXTENSION OF SITE LAYOUT */

#item 
{
 margin-top:10px;
 margin-bottom:30px;
 width:820px;
 text-align:center;
 font-size:13px;
 letter-spacing:-1px;
 height:160px;
}

#item li
{
 font-size:14px;
 text-decoration:none;
 color:black;
 letter-spacing:-1px;
 padding-left:0px;
 padding-bottom:3px;
 text-align:justify;
}

#item ul 
{
 margin-left:50px;
}

#item h1
{ 
 font-size:20px;
 font-weight:bold;
 text-align:justify;
 letter-spacing:-1px;
 margin-left:10px;
 margin-bottom:10px;
 color:black;
 border-bottom: 1px solid blue;
 width:640px;
}

#item img
{ 
 height:50px;
 text-align:center;
 color:black;
}

#item .left
{ 
 margin-top:10px;
 margin-left:40px;
 float:left;
 width:30%;
}

#item .right
{ 
 margin-top:10px;
 margin-left:60px;
 float:left;
 width:28%;
}
