
/* MUSIC - 2 COLUMN LAYOUT */

#twoColumns 
{ 
 height:2800px;
}

#twoColumns p
{
 color:red;
 font-size:30px; 
 text-align:center;
 letter-spacing:-1px;
}

#twoColumns a
{
 color: black;
 letter-spacing:-1px;
 text-decoration: none;
}

#twoColumns h1
{ 
 font-size:24px; 
 font-weight:none; 
 color:blue;
 border-bottom: 2px solid red;
 margin-top:10px;
 margin-bottom:10px;
}

#twoColumns ul
{ 
 margin-left:-20px;
 text-align:left; 
}

#twoColumns .left
{ 
 width:44%;
 margin-bottom:30px;
}

#twoColumns .right
{ 
 display: inline-block;
 width:46%;
 margin-left:20px;
}

#twoColumns li
{
 margin-left:20px;
 list-style-image: url(../images/nota.png);
 color:black;
 font-size:16px; 
 letter-spacing:-1px;
}

#twoColumns hr
{ 
 background-color:red;
 height:2px;
 border:0;
}
