
/* STUDENTS - 1 COLUMN LAYOUT */

#singleColumns 
{ 
 height:1300px;
 width:670px;
}

#singleColumns p
{
 color:red;
 font-size:16px; 
 letter-spacing:-1px;
}

#singleColumns a
{
 color: black;
 letter-spacing:-1px;
 text-decoration: none;
 margin-left:40px;
 font-size:18px; 
}

#singleColumns h1
{ 
 font-size:24px; 
 font-weight:none; 
 color:blue;
 width:200px;
 border-bottom: 2px solid black;
 margin-top:20px;
 margin-bottom:10px;
 margin-left:20px;
}

#singleColumns span
{ 
 font-size:14px; 
 font-style: italic;
 vertical-align:text-top;
 letter-spacing:-1px;
 font-weight:none; 
 color:red;
}

#singleColumns ul
{ 
 margin-left:-20px;
 text-align:left; 
}

#singleColumns li
{
 margin-left:60px;
 list-style-type: square;
 color:gray;
 font-size:14px; 
 letter-spacing:-1px;
}

#singleColumns hr
{ 
 background-color:red;
 height:2px;
 border:0;
}